@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
	background-color: #1f1f1f;
	text-align: center;
	font-family: 'Open Sans';
}

header{
	font-family: 'Homemade Apple';
	color: #ffffff;
	font-size: 45px;
	padding: .5em 0 .5em 0;
}

nav {
	font-size: 1.8em;	
	text-align: center;
} 

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 1.8em;
  display: inline-block;
}

a:hover {
    color: #7d84ae;
}

img {
	width: 45%;
	padding: 1%;
}

footer {
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	padding: 15px 0px 15px 0px;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

.topimg {
	float: left;
	display: inline-block;
	margin: auto;
	text-align: center;
}

.bottomimg {
	float: left;
	display: inline-block;
	margin: auto;
	text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (min-width: 801px) and (max-width: 1355px) {
  	nav a {
  		font-size: .75em;
  		margin: 0 1.6em .75em 0;
  		float: none;
  }
  	header {
  		font-size: 30px;
  }	
}

@media only screen and (max-width: 800px) {
	nav {
		float: none;
    }
  	nav a {
  		font-size: .75em;
  		margin: 0 1.6em .75em 0;
  		float: none;
  }
  	header {
  		font-size: 30px;
  }
	img {
	width: 75%;
	padding: 1%;
}
  	.topimg {
	float: none;
	display: block;
	margin: auto;
	text-align: center;
}

	.bottomimg {
	float: none;
	display: block;
	margin: auto;
	text-align: center;
	}

}
@media only screen and (max-width: 540px) {
  	nav {
    	display: block;
    	text-align: center;
    	float: none;
  	}
  	nav a {
  		font-size: .5em;
  		padding: 1em 0 1em 0;
  		float: none;
  		margin: 0 .75em 0 .75em;
  	}
  	header {
  		font-size: 20px;
  	}
  	.topimg {
	float: none;
	display: block;
	margin: auto;
	text-align: center;
}

	.bottomimg {
	float: none;
	display: block;
	margin: auto;
	text-align: center;
	}
}